<div *ngFor="let movie of movies">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ movie.imgUrl }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }} ({{ movie.yearOfRelease }})</h5>
      <p class="card-text">{{ movie.mpaaRating }} / {{ movie.duration }}min / {{ movie.genres }}</p>
      <p class="card-text">{{ movie.imdbRating }} / {{ movie.rottenTomatoesRating }}%</p>
      <div class="card-text">
        <a href="#" class="btn btn-primary card-link">{{ movie.status }}</a>
        <span class="material-icons card-link">{{ movie.favorite == true ? 'favorite' : 'favorite_border' }}</span>
      </div>
    </div>
  </div>
</div>
